.comments {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.noComments {
  display: flex; flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border: 1px solid var(--dark-tertiary)
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.formLabel { margin-bottom: .5rem }

.formInput {
  background-color: transparent;
  border: 1px solid var(--dark-tertiary);
  padding: 1rem;
  color: var(--light-primary);
  font: inherit;
}

.formTextArea {
  background-color: transparent;
  border: 1px solid var(--dark-tertiary);
  padding: 1rem;
  color: var(--light-primary);
  height: 120px;
  resize: none;
}

.formInput, .formTextArea {
  -webkit-transition: 150ms border-color ease;
  transition: 150ms border-color ease;
}
.formInput:focus, .formTextArea:focus {
  border-color: var(--gray-secondary)
}