.work {
  display: flex; flex: 1;
  cursor: none;
  overflow: hidden;
}

.work img {
  width: 100%; height: auto;
  object-fit: cover;
  -webkit-filter: grayscale(100%) opacity(1);
  filter: grayscale(100%) opacity(1);
  -webkit-transition: 150ms filter ease;
  transition: 150ms filter ease;
}

.work:hover img {
  -webkit-filter: grayscale(10%) opacity(.5);
  filter: grayscale(10%) opacity(.5);
}

.workCursor {
  position: fixed;
  display: flex;
  align-items: center;
  font: normal 400 1.14vw/1.5 'Playfair Display', serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: underline;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  -webkit-transition: 50ms top linear, 50ms left linear, 50ms opacity ease;
  transition: 50ms top linear, 50ms left linear, 50ms opacity ease;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.workCursorIcon {
  display: flex;
  margin-right: .5rem;
  margin-top: 2px;
}